defaults: &defaults
  email: info@example.com
  hostname: 10.10.10.1
  username: paul
  port: 22
  password: test

development:
  <<: *defaults
  email: me@example.com

vagrant:
  <<: *defaults
  user: vagrant
  port: 2222

test:
  <<: *defaults
  email: test@example.com

staging:
  <<: *defaults

production:
  <<: *defaults
  key_data: "./ssh/private_key"