#
#
# example env yaml file with key/value pairs that are overriten on differed env
#
defaults: &defaults
  email: info@example.com
  hostname: 127.0.0.1
  username: paul
  port: 22
  password: 'my-super-secret-password'

development: &development
  <<: *defaults
  hostname: 192.168.1.1
  username: dev
  password: dev-password

vagrant:
  <<: *defaults
  username: vagrant
  password: vagrant
  port: 2222

production:
  <<: *development
  key_data: "./ssh/private_key"